
@keyframes  scrollLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
 .Home .scroll-animation {
    animation: scrollLeft 10s linear infinite; /* Adjust duration as needed */
  }