*{
  padding: 0;
  margin: 0;
}
#Login .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 0.4em;
  /* background-color: #CD9564; */
  border-radius: 25px;
  transition: .4s ease-in-out;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 35%;
  min-height:60%;
  overflow: hidden;
 
}

#Login .form:hover {
  transform: scale(1.05);
  border: 1px solid #CD9564;
}

#Login #heading {
  text-align: center;
  margin: 1em;
  /* color: #171717; */
  font-size: 1.2em;
}

#Login .field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  background-color: #171717;
  color: #CD9564;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

#Login .input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: #CD9564;
}

#Login .input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color:#CD9564;
}

#Login .form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 2.5em;
}

#Login .button1 {
  padding: 0.3em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  /* height: 3%; */
  width: 50%;
  border-radius: 10px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #171717;
  color: #CD9564;
}

#Login .button1:hover {
  background-color: #171717;
  color: #CD9564;
}

#Login .button2 {
  padding: 0.3em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 10px;
  /* height: 3%; */
  width: 50%;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #171717;
  color: #CD9564;
}

#Login .button2:hover {
   background-color: #171717;
  color: #CD9564;
}

#Login .button3 {
  margin-bottom: 2em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #171717;
  color: #CD9564;
}

#Login .button3:hover {
  background-color: red;
  color: #171717;
}