#Navbar{
  display: flex;
}
#Navbarimg{
  width: 5%;
}
#Navbar .input{
  color: #000 ;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#Navbar .input-border {
  position: absolute;
  background: var(--border-after-color);
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(0%);
  transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#Navbar .input:focus {
  outline: none;
}
#Navbar .input:focus + .input-border {
  transform: scaleX(100%);
}
#Navbar .form-control {
  position: relative;
  --width-of-input: 300px;
}
#Navbar .input-alt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#Navbar .input-border-alt {
  height: 3px;
  background: linear-gradient(90deg, #ff6464 0%, #ffbf59 50%, #47c9ff 100%);
  transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
#Navbar .input-alt:focus + .input-border-alt {
  transform: scaleX(100%);
}
.input {
  position: relative;
  max-width: 190px;
  border: none;
  box-shadow: 0px 1.5px 0px 0px #858585;
  padding: .5rem;
  transition: all 200ms ease-in-out;
  opacity: .8;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: .625rem;
  font-weight: bold;
  color: #858585;
  margin-bottom: 4px;
  margin-left: 1px;
}

.input-helper {
  color: #858585;
  font-size: .5rem;
  margin-top: 6px;
  margin-left: 1px;
  visibility: hidden;
  transform: translateY(-.5rem);
  transition: all 100ms linear;
  z-index: -1;
}

.input::placeholder {
  color: rgb(145, 145, 145);
  font-size: .75rem;
}

.input::after {
  content: attr(placeholder);
  position: absolute;
  color: #161616;
  top: 0;
  left: 0;
}

.input:focus {
  border: none;
  box-shadow: 0px 1.5px 0px 0px #72E985;
  outline: none;
}

.input:focus + .input-helper {
  visibility: visible;
  transform: translateY(0rem);
}

.input:focus::placeholder {
  visibility: hidden;
}
